{% load static %}
  <!DOCTYPE html>
   <html lang="en">
    <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Tifah's Closet</title>
    <a href="{% url 'homepage' %}">Home</a>
    <link rel="stylesheet" href="design.js">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="static/css/base.css">
    
</head>
<body>
    <div id="heading">
        <h2 id="h2">About Tifah's Closet</h2>
    </div>
    <div id="image33">
    <img src="{% static 'images/1675252776240-thumbnail.jpeg' %}" id="image3" alt="">

    </div>

<div id="mission">
    <h2 >Mission:</h2>
    <p>Our mission is to create an apparel company</br>
        that can offer superior design, </br>
        quality and value to the consumer.</br>
         We will accomplish this by being committed </br>
         to offering great service and real value</br>
          to our business partners and consumers.
        </p>
</div>
<div id="values">
<h2>Values:</h2>
<p>values include ethical sourcing and manufacturing,</br> 
   environmental consciousness, products built to last,</br> 
   diversity and inclusion, operational transparency,</br> 
   and giving back to the community.
</p>
</div>
<div id="weOffer">
    <h2>We Offer</h2>
    <p>We offer quality clothes with good material,</br>
       Our products can be purchased on affordable</br>
       prices and also offer discounts to custommers</br>
       that buy products in big numbers</br>
       We also offer deliveries to our custommers</br>
       arround Kampala.
       
    </p>
</div>

</body>
</html>