<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tifah's Closet</title>
     <a href="{% url 'homepage' %}">Home</a>
     <link rel="stylesheet" href=" static/css/base.css ">
    <link rel="stylesheet" href="design.js">
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <h1 id="Our">Our Services</h2>
    <div id="Veiling">
        <h2>Veiling</h2>
        <p>We do bridal Veiling styles</br>
           Sale veils in all types and</br>
           quality material
        </p>
    </div>
    <div id="MakeUp">
        <h2>Make Up</h2>
        <p>Our make up services are</br>
           simple,bridal,photoshoot make up</br>
           and birthday make Up
        </p>
    </div>

    <div id="henna">
        <h2>Henna Tatoos</h2>
        <p>Simple and bridal henna</p>
    </div>
    <div id="Muslim">
        <h2>Muslim Wear</h2>
        <p>Casual dresses, Habayas, veils</br>
            Hijjabs,Long skirts, turbans</br>
        </p>
    </div>
    
</body>
</html>